<div style="text-align:center">
  <h1>Empleado Salario Por Comision</h1>
  <form [formGroup]="formEmpleadoComision">

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
                <label for="ci">CI</label>
                <input id="ci" type="text" class="form-control" formControlName="ci">
            </div>


          </div>
          <div class="col-lg-4">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" formControlName="nombre">
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
                <label for="email">Email</label>
                <input  id="email" type="text" class="form-control" formControlName="email">
            </div>

          </div>
          <div class="col-lg-4">

            <div class="form-group">
                <label for="celular">Celular</label>
                <input id="celular" type="text" class="form-control" formControlName="celular">
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
                <label for="salario">Salario</label>
                <input id="salario" type="text" class="form-control" formControlName="salario">
            </div>

          </div>
          <div class="col-lg-4">

            <div class="form-group">
              <label for="metodoDePago">Metodo de Pago</label>
              <select id="metodoDePago" class="form-control" formControlName="metodoDePago">
                <option *ngFor="let metodoDepago of metodosDePago" [value]="metodoDepago">{{metodoDepago}}</option>
              </select>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
              <label for="metodoDePago">Medios de Notificacion</label>
                <ng-multiselect-dropdown
            [placeholder]="'Medios De Notificacion'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            formControlName="mediosDeNotificacion"
            required>
          </ng-multiselect-dropdown>
            </div>

            
            
          </div>
          <div class="col-lg-4">

            <div class="form-group">
                <label for="horaLlegada">Hora de Llegada</label>
                <input id="horaLlegada" type="text" class="form-control" formControlName="horaLlegada">
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
                <label for="horaSalida">Hora de Salida</label>
                <input id="horaSalida" type="text" class="form-control" formControlName="horaSalida">
            </div>

          </div>
          

          <div class="col-lg-4">

            <div class="form-group">
              <label for="metodoDePago">Sindicato</label>
              <select id="metodoDePago" class="form-control" formControlName="sindicato">
                <option *ngFor="let pertenece of perteneceSindicato" [value]="pertenece">{{pertenece}}</option>
              </select>
            </div>

          </div>
        </div>
      </div>




      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">

            <div class="form-group">
                <label for="ci">Comision</label>
                <input type="text" class="form-control" id="comision" formControlName="comision">
            </div>

          </div>
       
        </div>
      </div>


      <button type="button" id="guardar" class="btn btn-success" (click)="onSubmit(formEmpleadoComision.value)"
      [disabled]="!formEmpleadoComision.valid">
        Guardar
      </button>
    </form>

</div>

