<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold">PAPELETAS DE PAGO</h1>
					<hr>
				</div>
			</div>
			<div *ngFor="let papeleta of papeletas" class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-cloud medium-icon"></i>
					<h3>{{papeleta.Nombre}}</h3>
					<hr>
					<h4>Salario: {{papeleta.Salario}}</h4>
					<h4>Fecha: {{papeleta.Fecha}}</h4>
			</div>
		</div>
		<a routerLink="/" class="smoothScroll btn btn-danger">Pagina principal</a>
	</div>
</section>