#work {
  background-image: url('../../../assets/home-bg-slideshow1.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  color: #ffffff;
}
#work .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
  background-color: #000000;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
}

#work .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#work .btn:hover {
  background: #00c6d7;
  border-color: transparent;
}
#work .btn-danger {
  background: #00c6d7;
  border-color: transparent;
}
#work .btn-danger:hover {
    border: 4px solid #ffffff;
      border-radius: 0;
    background: transparent;
      color: #ffffff;
}
