<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold">GENERAR PAPELETAS</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">Ingresar fecha</h2>
				<p>Ingresar la fecha en la cual se generan las papeletas</p>
			</div>
			<div class="col-md-6 col-sm-12">
				<form (ngSubmit)="onSubmit(generarForm)" #generarForm="ngForm">
          <div class="col-md-12 col-sm-12">
            <input type="date" name="fecha" class="form-input" ngModel >
          </div>
					<div class="col-md-12 col-sm-12">
						<button type="submit" class="form-control">Generar Papeletas</button> 
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
