<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
<button type="button" class="btn btn-light"><a routerLink="SalarioFijo">Salario Fijo</a></button>&nbsp;
<button type="button" class="btn btn-light"><a routerLink="SalarioPorComision">Salario Por Comision</a></button>&nbsp;
<button type="button" class="btn btn-light"><a routerLink="SalarioPorHora">Salario Por Hora</a></button>&nbsp;

</div>-->
<router-outlet></router-outlet>
