#home {
    background-image: url('../../../assets/home-bg-slideshow2.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
    height: 100vh;
    text-align: center;
  }
  #home h1 {
    font-size: 40px;
  }
  #home h3 {
    font-size: 14px;
  }
  #home hr {
    width: 240px;
  }
  #home .btn {
    background: transparent;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 42px;
    margin-top: 40px;
    margin-right: 16px;
    transition: all 0.4s ease-in-out;
  }
  #home .btn:hover {
    background: #00c6d7;
    border-color: transparent;
  }
  #home .btn-danger {
    background: #00c6d7;
    border-color: transparent;
  }
  #home .btn-danger:hover {
      border: 4px solid #ffffff;
        border-radius: 0;
      background: transparent;
        color: #ffffff;
  }
  