<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Neddy Gonzalez / Joshua Nostas / Juan Sabath</h3>
				<h1>GENERADOR DE BOLETAS DE PAGO</h1>
				<hr>
				<a routerLink="/crearEmpleado" class="smoothScroll btn btn-danger">Crear un empleado</a>
				<a routerLink="/generarPapeletasForm" class="smoothScroll btn btn-default">Generar papeletas</a>
			</div>
		</div>
	</div>		
</section>
