#pricing {
    text-align: center;
  }
  #pricing h2 {
    font-size: 52px;
  }
  #pricing h3 {
    font-size: 16px;
  }
  #pricing .plan {
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 32px;
  }
  #pricing .plan span {
      font-size: 16px;
  }
  #pricing .plan .plan_title {
    font-weight: 300;
    letter-spacing: 2px;
    padding: 30px;
    margin-bottom: 20px;
  }
  #pricing .medium-icon {
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
    border-radius: 50%;
    font-size: 52px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 32px;
  }
  #pricing .plan ul {
    padding: 0px;
  }
  #pricing .plan ul li {
    display: block;
    font-weight: 500;
    padding: 12px 0px;
  }
  #pricing .plan .btn {
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 60px;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
    text-transform: uppercase;
  }
  #pricing .plan-one .btn {
    background-color: #00c6d7;
  }
  #pricing .plan-two .btn {
    background-color: #ffa400;
  }
  #pricing .plan-three .btn {
    background-color: #009988;
  }
  #pricing .plan .btn:hover {
    background-color: #3B3B3B;
  }