<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold">SELECCIONAR TIPO DE EMPLEADO</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h2>FIJO</h2>
					</div>
					<ul>
            <li>Salario Fijo</li>
            <li>Elige metodo de pago</li>
            <li>Se cancela cada fin de mes</li>
						<li>Elige uno a varios medios para comunicarle su paga</li>
					</ul>
					<button routerLink="/empleadoFijo" class="btn btn-warning">Crear Empleado</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-desktop medium-icon"></i>
						<h2>POR COMISION</h2>
					</div>
					<ul>
						<li>Salario Fijo mas comision por ventas</li>
            <li>Elige metodo de pago</li>
            <li>Se cancela cada quincena</li>
						<li>Elige uno a varios medios para comunicarle su paga</li>
					</ul>
					<button routerLink="/empleadoComision" class="btn btn-warning">Crear Empleado</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
					<div class="plan_title">
						<i class="icon-cloud medium-icon"></i>
						<h2>POR HORA</h2>
					</div>
					<ul>
						<li>Salario por hora trabajada</li>
            <li>Elige metodo de pago</li>
            <li>Se cancela cada semana</li>
						<li>Elige uno a varios medios para comunicarle su paga</li>
					</ul>
					<button routerLink="/empleadoHora" class="btn btn-warning">Crear Empleado</button>
				</div>
			</div>
		</div>
	</div>		
</section>